
<ion-header>
    
      <ion-navbar>
        <ion-title> {{ 'Cargar Encuesta' | translate }}  </ion-title>
      </ion-navbar>
    
    </ion-header>
    
    
    <ion-content padding>
 
          
              
      <div *ngIf="mostrarForm">
        <form [formGroup]="form" padding>
            <p></p>
            <h2 class="royal">  {{ 'Titulo de la Encuesta' | translate }}  </h2> 

        
            <ion-item>
              <ion-input 
                [(ngModel)]="laencuesta.Titulo" 
                formControlName="titulo" 
                type="text" 
                autocapitalize="off" 
                required
              >
              </ion-input>
            </ion-item>
            <h2 class="royal"> {{ 'Cargar Pregunta' | translate }}  </h2> 
            <ion-item>
                
          
            <ion-input 
              [(ngModel)]="laencuesta.Pregunta" 
              formControlName="pregunta" 
              type="text" 
              autocapitalize="off" 
              required
            >
            </ion-input>
          </ion-item>
          <h2 class="royal">  {{ 'Fecha de Finalizacion' | translate }}  </h2> 
          
          <ion-item>
              <ion-label> {{ 'Hasta' | translate }}  </ion-label>
              <ion-datetime displayFormat="MM/DD/YYYY" min="2017-11-24" max="2020-10-31" pickerFormat="YYYY MMM DD"  formControlName="fecha"  [(ngModel)]="laencuesta.Fecha"></ion-datetime>
            </ion-item>
             
              <button 
          ion-button 
          (click)="continuar()" 
          type="submit" 
          color="primary" 
          block
      >
         {{ 'Continuar' | translate }}  
       </button>
      </form>
      </div>
 

<div *ngIf="mostrarForm==false">
      
            <ion-list radio-group (ionChange)="opcionSeleccionada($event)">   
               <div>
                  <p></p>
                      
                        <h2 class="royal">  {{ 'Seleccione posibles respuestas' | translate }}  </h2> 
                        <ion-item>
                          
                            <ion-label> {{ 'Muy Bueno / Bueno / Regular / Malo' | translate }}  </ion-label>
                            <!--ion-checkbox color="dark"  (ionChange)="datachanged($event)" ></ion-checkbox-->
                    <ion-radio  value="uno"></ion-radio>
                  </ion-item>
                    <ion-item>
                        <ion-label> {{ 'Si / No / Puede Ser' | translate }}  </ion-label>
                    <ion-radio  value="dos"></ion-radio>
                  </ion-item>
                  <ion-item>
                      <ion-label> {{ '[texto]' | translate }}  </ion-label>
                  <ion-radio  value="tres"></ion-radio>
                </ion-item>
                </div>

          </ion-list>
      
          <!--button 
          ion-button 
          (click)="guardarEncuesta()" 
          type="submit" 
          color="primary" 
          block
      >
        Guardar Encuesta
       </button-->
       
      </div>
      </ion-content>
      